<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Company Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/atropos.min.css">
</head>
<style>
.navbar-gradient {
    background: linear-gradient(to right, rgba(106, 17, 203, 0.7), rgba(37, 117, 252, 0.7));
    border-bottom: none;
}
@media (max-width: 992px) { /* Adjust the breakpoint as needed */
    .col-lg-4 {
        order: -1; /* Image will come before text on smaller screens */
    }
}
</style>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow navbar-gradient">
            <div class="container">
                <a class="navbar-brand fw-bold" href="/">CryptoFeet</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" href="/products">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pricing">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About Us</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href='#'><i class="bi bi-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='#'><i class="bi bi-snapchat"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='#'><i class="bi bi-instagram"></i></a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        <div style="background-color: black;" class="text-white py-5">
            <div class="container d-flex flex-column" style="background-image: url(/static/shoenobackground.png); height:100vh; background-size: cover; background-position: center; background-repeat: no-repeat;">
                <div class="text-center">
                    <h1 class="display-1 fw-bold">The world's first crypto footwear.</h1>
                    <small class="lead">They said it couldn't be done.</small>
                </div>
            </div>
        </div>
        <div class="custom-shape-divider-top-1724782300">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
            </svg>
        </div>
        <div style="padding-top:5rem">
            <div class="py-5 container">
                <div class="row" style="padding-bottom:5rem">
                    <div class="col-lg-4">
                        <img src="/static/undraw_good_doggy.svg" style="width:100%"></img>
                    </div>
                    <div class="col-lg-8 align-self-center">
                        <div class="mt-3 mt-lg-0 px-lg-5">
                        <h2 class="display-4 fw-bold mb-3">We don't care what they say.</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit maximus vulputate. Nam semper risus at imperdiet sodales. Cras iaculis efficitur tincidunt. Integer eu purus dapibus, mollis sem at, molestie massa. Sed nec vehicula odio. Vivamus ac ante eros. Quisque condimentum eleifend sapien, vel condimentum neque mattis et.
                        </p>
                    </div>
                    </div>
                </div>
                <div class="row" style="padding-bottom:5rem">
                    <div class="col-lg-8 align-self-center">
                        <div class="mt-3 mt-lg-0 px-lg-5">
                            <h2 class="display-4 fw-bold mb-3">We do things our own way.</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit maximus vulputate. Nam semper risus at imperdiet sodales. Cras iaculis efficitur tincidunt. Integer eu purus dapibus, mollis sem at, molestie massa. Sed nec vehicula odio. Vivamus ac ante eros. Quisque condimentum eleifend sapien, vel condimentum neque mattis et.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <img src="/static/undraw_creative_thinking.svg" style="width:100%"></img>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="border-top footer text-muted bg-body-secondary">
        <div class="container">
            <div class="pt-3 fs-6" style="padding-bottom: 8rem;">
                &copy; 2024 CryptoFeet
            </div>
        </div>
    </footer>

</body>
</html>
